In [1]:
"""Parte 10: Prediciendo datos de una columna
Imagina que tenemos datos faltantes en la colÃºmna de edades, podrÃ­amos usar un modelo para estimar los valores faltantes en base a las otras colÃºmnas.

Para este laboratorio:

Elimina las colÃºmnas DEATH_EVENT, age y categoria_edad del dataframe para que sea la matriz X
Ajusta una regresiÃ³n lineal sobre el resto de colÃºmnas y usa la colÃºmna age como vector y
Predice las edades y compara con las edades reales
Calcula el error cuadrÃ¡tico medio."""
# importamos librerias que se necesiten para el proyecto integrador 
import pandas as pd
import numpy as np 
import plotly.graph_objects as go 
from sklearn.linear_model import LinearRegression

#cargar df
df=pd.read_csv("resultado.csv")
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,Categoria_Edad
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1,Adulto mayor
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,Adulto
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1,Adulto mayor
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,Adulto
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1,Adulto mayor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0,Adulto mayor
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0,Adulto
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0,Adulto
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0,Adulto
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0,Adulto

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np
# llamamos los datos en un df(dataframe)
df=pd.read_csv("resultado.csv")

# Elimina las columnas DEATH_EVENT, age y categoria_edad del dataframe para obtener la matriz X
X = df.drop(['DEATH_EVENT', 'age', 'Categoria_Edad'], axis=1)

# Utiliza la columna DE edad 'age' como vector del eje y
y = df['age']

#datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# modelo de regresiÃ³n lineal sobre las otras columnas
modelo_regrecion = LinearRegression()
modelo_regrecion.fit(X_train, y_train)

# Predice las edades en el conjunto de prueba
y_pred = modelo_regrecion.predict(X_test)

# Calcula el error cuadrÃ¡tico medio en el vector y 
ECM = mean_squared_error(y_test, y_pred)

# Imprime el error cuadrÃ¡tico medio de los datos octenidos del df 
print(f'Error cuadrÃ¡tico medio: {ECM}')

Error cuadrÃ¡tico medio: 125.18114348612184